root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.html]
# HTML-specific formatting
# Standardize on tag layout
ij_html_do_not_indent_children_of_tags = html,body,thead,tbody,tfoot
ij_html_keep_blank_lines = 1
ij_html_attribute_wrap = normal
ij_html_space_inside_empty_tag = false
